#title {
  background-color: #CEE5D0;
  color: #fff;
}

#features {
  background-color: #F3F0D7;
}

#testimonials {
  background-color: #FED2AA;
}


#testimonials {
  background-color: #FFBF86;
}

#press {
  background-color: #F3F0D7;
}

#pricing {
  background-color: #FED2AA;
}

#cta {
  background-color: #FFBF86;
}

#footer {
  background-color: #CEE5D0;
}

.container-fluid {
  padding: 3% 15%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

/* NAVBAR */

.navbar {
  padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

/* Download Buttons */
.download-buttons {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
}
