#title {
  background-color: #CEE5D0;
}

#features {
  background-color: #F3F0D7;
}

#testimonials {
  background-color: #FED2AA;
}


#testimonials {
  background-color: #FFBF86;
}

#press {
  background-color: #F3F0D7;
}

#pricing {
  background-color: #FED2AA;
}

#cta {
  background-color: #FFBF86;
}

#footer {
  background-color: #CEE5D0;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {

  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;

}
